.editor-root {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 6px;
  min-height: 200px;
  background: #fff;
  color: #1f2328;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.editor-root .editor-textarea {
  width: 100%;
  height: 100%;
  min-height: 200px;
  padding: 0;
  border: none;
  resize: vertical;
  background: transparent;
  font: inherit;
  line-height: 1.7;
  color: inherit;
  outline: none;
  box-sizing: border-box;
}

.editor-root .editor-textarea:focus {
  outline: none;
}

.editor-root :where(p) {
  margin: 0 0 1em 0;
}
